{% extends "base.html" %}
{% block Content %}
<div id="wrapper">
    <img src="https://media-exp1.licdn.com/dms/image/C4D03AQEPESpwJjoxew/profile-displayphoto-shrink_200_200/0?e=1588204800&v=beta&t=lMVFK5rdQ36eCkirF1i6Aw0o30Q31OHhMWg4KICJxw0" alt="Luiz Paulo">
    <h1>Luiz Paulo Gomes da Silva</h1>
    <h2>Profissional técnico na Visual Data Informatica</h2>
    <p>Formado em técnico de redes de computadores no primeiro semestre de 2016 pela instituição <a href="https://santos.sp.senai.br/" target="_blank">SENAI - Santos.</a><br>Cursando Engenharia da computação tendo iniciado no primeiro semestre de 2017 na instituição <a href="https://www.esamc.br/unidade/Santos/" target="_blank">ESAMC - Santos</a> conclução em 2021.</p>
</div>
{% endblock %}